# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/

# Variables de entorno locales
.env
*.env

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
